<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Results</h1>
    <% new = PigLatinizer.new %>
    <%= new.piglatinize(@input) %>
  </body>
</html>
