<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Enter your word:</h2>
    <form method = "POST" action = "/piglatinize">
    	<p> Word : <input type = "text" name = "user_type"></p>
    	<input type = "submit" name = "submit">
    </form>
  
  </body>
</html>